h1, h2, h3, td, th, p, h {
    font-family: sans-serif;
}
table, th, td {
    border: none;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 4px;
}
tr.header {
    background-color:#D49A6A
}
tr.atmodd {
    background-color:#5896bf
}
tr.atmeven {
    background-color:#78a5bf
}
tr.humodd {
    background-color:#00a8c1
}
tr.humeven {
    background-color:#55b7c5
}
tr.tempodd {
    background-color:#00b6a1
}
tr.tempeven {
    background-color:#4dc6b3
}
tr.powrodd {
    background-color:#4fbd67
}
tr.powreven {
    background-color:#79d08e
}
tr.dtmpodd {
    background-color:#a9ba22
}
tr.dtmpeven {
    background-color:#b8d366
}
tr.battodd {
    background-color:#ffa600
}
tr.batteven {
    background-color:#ffcb52
}
tr.inpwodd {
    background-color:#ff8680
}
tr.inpweven {
    background-color:#ffaba2
}
