<!doctype html>
    <head>
        <title>Data ingest</title>
    </head>
    <body>
        <p>Hello {{ name }}!</p>
        <p>Your ip is: {{ ip }}</p>
        <p>Your time  is: {{ time }}</p>
        <p>Your temp is: {{ temp }}</p>
    </body>
</html>
