<!doctype html>
<HEAD>
<TITLE>Enviromental monitoring thingy - {% block title %}{% endblock %}</TITLE>
    <LINK REL="stylesheet" HREF="{{ url_for('static', filename='style.css') }}" TYPE="text/css">
    <STYLE>
    {% block style %}
    {% endblock %}
    </STYLE>
    <SCRIPT>
    {% block script %}
    {% endblock %}
    </SCRIPT>
</HEAD>
<BODY>
    <HEADER>
        <H1 ID="top">{% block header %}{% endblock %}</H1>
        <P>
        <SMALL><A HREF="{{ url_for('hello') }}">handcrafted diagrams</A> - </SMALL>
        <SMALL><A HREF="{{ url_for('robot') }}">scripted diagrams</A> - </SMALL>
        <SMALL><A HREF="{{ url_for('recors') }}">records</A> - </SMALL>
        <SMALL><A HREF="{{ url_for('maps') }}">maps</A></SMALL>
        </P>
    </HEADER>
    <SECTION CLASS="content">
        {% block content %}{% endblock %}
    </SECTION>
    <FOOTER>
        <P>&copy; Gergely Tomka. I'm just learning, don't hurt me.</P>
    </FOOTER>
</BODY>
</html>
