{% extends 'base.html' %}

{% block header %}
{% block title %}Handmade diagrams{% endblock %}
{% endblock %}

{% block content %}
	<p><a href="#t">Temperature</a>&nbsp;<a href="#l">Light</a>&nbsp;<a href="#s">Sound</a>&nbsp;<a href="#top">Top</a></p>
	<hr>
	<h2 id="t">Temperature</h2>
	<p><a href="#t4">Last 4 hours</a>&nbsp;<a href="#td">Last day</a>&nbsp;<a href="#tw">Last week</a>&nbsp;<a href="#tm">Last month</a>&nbsp;<a href="#tn">Last year new</a>&nbsp;<a href="#ty">Last year</a>&nbsp;<a href="#tg">Distribution</a></p>
	<h3 id="t4">Last 4 hours</h3>
	<p><img src="static/temp-4hr.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="td">Last day</h3>
	<p><img src="static/temp-day.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="tw">Last week</h3>
	<p><img src="static/week.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="tm">Last month</h3>
	<p><img src="static/month.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="tn">Last year new</h3>
	<p><img src="static/yearfog.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="ty">Last year</h3>
	<p><img src="static/year.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<h3 id="tg">Temperature distribution</h3>
	<p><img src="static/gauss.png?{{ time }}"></p>
	<p><a href="#t">Back to top</a></p>
	<hr>
	<h2 id="l">Light</h2>
	<p><a href="#t">Temperature</a>&nbsp;<a href="#l">Light</a>&nbsp;<a href="#s">Sound</a>&nbsp;<a href="#top">Top</a></p>
	<p><a href="#l4">Last 4 hours</a>&nbsp;<a href="#ld">Last day</a></p>
	<h3 id="l4">Last 4 hours</h3>
	<p><img src="static/lux-4hr.png?{{ time }}"></p>
	<p><a href="#l">Back to top</a></p>
	<h3 id="ld">Last day</h3>
	<p><img src="static/lux-day.png?{{ time }}"></p>
	<p><a href="#l">Back to top</a></p>
	<hr>
	<h2 id="s">Sound</h2>
	<p><a href="#t">Temperature</a>&nbsp;<a href="#l">Light</a>&nbsp;<a href="#s">Sound</a>&nbsp;<a href="#top">Top</a></p>
	<p><a href="#s4">Last 4 hours</a>&nbsp;<a href="#sd">Last day</a>&nbsp;<a href="#sw">Last week</a></p>
	<h3 id="s4">Last 4 hours</h3>
	<p><img src="static/snd-4hr.png?{{ time }}"></p>
	<p><a href="#s">Back to top</a></p>
	<h3 id="sd">Last day</h3>
	<p><img src="static/snd-day.png?{{ time }}"></p>
	<p><a href="#s">Back to top</a></p>
	<h3 id="sw">Last week</h3>
	<p><img src="static/weeksound.png?{{ time }}"></p>
	<p><a href="#s">Back to top</a></p>
{% endblock %}
