{% extends 'base.html' %}
{% block style %}
        .map {
          position: relative;
          background-color: #444;
          border: 2px solid black;
          max-width: {{ (mw/mh)*90 }}vh;
          z-index: 0;
        }
        .map::before {
          content: "";
          float: left;
          padding-bottom: {{ (mh/mw)*100 }}%
        }
        .map::after {
          content: "";
          display: table;
          clear: left;
        }
        .nota {
          text-align: center;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 3vmin;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
{% for room, data in r.items() %}
        .{{ room }} {
          position: absolute;
          left: {{ (data['x'] / mw) * 100 }}%;
          top:  {{ (data['y'] / mh) * 100 }}%;
          height: {{ (data['h'] / mh) * 100}}%;
          width: {{ (data['w'] / mw) * 100 }}%;
          background-color: #999;
          box-sizing: border-box;
          border: 2px solid black;
          z-index: 1;
        }
{% endfor %}
{% endblock %}
{% block script %}
        var what = "temp"
        function refreshcolors(iwhat) {
            if (iwhat != " ") {
                what = iwhat;
            };
            var xmlhttp = new XMLHttpRequest();
            var url = "latest/";

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    colors(data, what);
                };
            };

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        };

        function colors(data) {
            for (var item in data) {
                var cvalue = "";
                if (what == "temp") {
                    cvalue = data[item].temp;
                }; 
                if (what == "hum") {
                    cvalue = data[item].hum;
                };
                if (typeof cvalue === 'undefined') {
                    cvalue = "rgb(200,200,200)";
                }; 
                if (document.getElementById(item)) {
                    console.log("changing "+item+" to " + cvalue)
                    document.getElementById(item).style.backgroundColor = cvalue;
                    document.getElementById(item + 'p').innerHTML = data[item].text;
                };
            };
        };
        setInterval(refreshcolors, 300000, " ");
        refreshcolors("temp")
{% endblock %}
{% block header %}
{% block title %}Script generated map{% endblock %}
{% endblock %}
{% block content %}
    <DIV CLASS="map">
{% for room, data in r.items() %}
        <DIV ID="{{ room }}" CLASS="{{ room }}"><P ID="{{ room }}p" CLASS="nota">{{ room }}</P></DIV>
{% endfor %}
        </DIV>
        <INPUT ID="btemp" TYPE="button" VALUE="Refresh Temperature" ONCLICK="refreshcolors('temp')">
        <INPUT ID="bhum" TYPE="button" VALUE="Refresh Humidity" ONCLICK="refreshcolors('hum')">
{% endblock %}
