{% extends 'base.html' %}

{% block header %}
{% block title %}Records{% endblock %}
{% endblock %}

{% block content %}
    <P><SMALL>
        {% for line in tl|sort(reverse=True) %}
        <A HREF="#{{ tl[line] }}">{{ tl[line] }}</A> -
        {% endfor %}
        <A HREF="#top">top</A>
    </SMALL></P>
        <TABLE>
        {% for line in tl|sort(reverse=True) %}
        <TR class="header" id="{{ tl[line] }}"><TH COLSPAN=4 ALIGN="left"><A HREF="#top">Records during the last {{ tl[line] }}</A></TH></TR>
            {% for record in r[tl[line]] %}
            <TR class="{{ record[5] }}{{ loop.cycle('odd', 'odd', 'even', 'even') }}">
                {% if record[6] == 'min' %}
                <TD ROWSPAN="2" VALIGN="top">{{ record[0] }}</TD>
                {% endif %}
                <TD ALIGN="right">{{ record[2] }}</TD>
                <TD>{{ record[3] }}</TD>
                <TD>{{ record[1] }}</TD>
            </TR>
            {% endfor %}
        {% endfor %}
        </TABLE>
{% endblock %}
