{% extends 'base.html' %}

{% block header %}
{% block title %}Script generated diagrams{% endblock %}
{% endblock %}

{% block content %}
    <P><SMALL>
    {% for i,l in units.items() %}
        <A HREF="#{{ i }}">{{ l[2] }}</A> -
    {% endfor %}
        <A HREF="#strange">Strange things</A>
    </SMALL></P>
    {% for i,l in units.items()|sort(reverse=true)  %}
    <HR><H2 ID="{{ i }}">{{ l[2] }}</H2>
    <P><SMALL>{% for j,k in drawp %}<A HREF="#{{ i + j }}">{{ k['name'] }}</A>&nbsp;-&nbsp;{% endfor %}<A HREF="#top">top</A></SMALL></P>
    {% for tu in drawp %}
        <P><A HREF="#{{ i }}"><IMG SRC="{{ url_for('static', filename = 'new_{}_{}.png'.format(i, tu[0]) ) }}?{{ time }}" ID="{{ i + tu[0] }}" ALT="{{ l[2] + ' ' + tu[1]['name'] }}"></A></P>
    {% endfor %}
    <P><SMALL><A HREF="#top">top</A></SMALL></P>
    {% endfor %}
    <HR><H2 ID="strange">Strange things</H2>
    <P><SMALL>
    {% for t in nevsor %}
        <A HREF="#s{{ t[0] + t[1] }}">{{ t[0] + '/' + t[1] }}</A> -
    {% endfor %}
        <A HREF="#top">top</A>
    </SMALL></P>
    {% for t in nevsor %}
        <P><A HREF="#strange"><IMG SRC="{{ url_for('static', filename = 'scale_{}_{}.png'.format(t[0], t[1]) ) }}?{{ time }}" ID="s{{ t[0] + t[1] }}" ALT="{{ '{} diagram from the sensor {}'.format(units[t[0]][2],t[1]) }}"></A></P>
    {% endfor %}
    <HR>
{% endblock %}
